<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Averages</title>

	<!-- include material design CSS -->
	<link rel="stylesheet" href="assets/css/materialize/css/materialize.min.css" />

	<!-- include material design icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<!-- include custom CSS -->
	<link rel="stylesheet" href="assets/css/custom.css" />

</head>

<body>
	<nav>
		<div class="nav-wrapper amber">
			<a href="index.html" class="brand-logo" style="margin-left: 50px;">Manhattan</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="doctor.html">Doctors</a></li>
				<li><a href="pharmaceutical_company.html">Companies</a></li>
				<li><a href="pharmacy.html">Pharmacies</a></li>
        <li><a href="patient.html">Patients</a></li>
				<li><a href="index.html">Home</a></li>
				<li><a href="https://github.com/manhattanhq/manhattan">Github</a></li>
			</ul>
		</div>
	</nav>
	<!-- page content and controls will be here -->
	<div class="container" ng-app="myApp" ng-controller="productsCtrl">
		<div class="row">
			<div class="col s12">
				<h4>Averages</h4>

				<!-- used for searching the current list -->
				<input type="text" ng-model="search" class="form-control" placeholder="Search averages">

				<!-- table that shows average record list -->
				<table class="bordered">
					<thead>
						<tr class="amber">
							<th class="text-align-center">Average ID</th>
							<th class="text-align-center">Name</th>
							<th class="text-align-center">Formula</th>
							<th class="text-align-center">Pharmaceutical Co ID</th>
							<th class="text-align-center">AVERAGE</th>
						</tr>
					</thead>
					<tbody ng-init="getAll()">
						<tr class="hoverable" dir-paginate="d in names | filter:search | orderBy:sortKey:reverse | itemsPerPage:10" pagination-id="prodx">
							<td class="text-align-center">{{ d.average_id }}</td>
							<td class="text-align-center">{{ d.name }}</td>
							<td class="text-align-center">{{ d.formula }}</td>
							<td class="text-align-center">{{ d.pharmaceutical_company_id }}</td>
							<td class="text-align-center">{{ d.avg }}</td>
						</tr>
					</tbody>
				</table>

				<!-- angular pagination -->
				<dir-pagination-controls pagination-id="prodx" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dir_pagination.tpl.html"></dir-pagination-controls>

				<!-- modal for for creating new average -->
				<div id="modal-average-form" class="modal">
					<div class="modal-content">
						<h4 id="modal-average-title">Average</h4>
						<div class="row">
							<div class="input-field col s12">
								<input ng-model="name" type="text" class="validate" id="form-name" placeholder="Add name" />
								<label for="name">Name</label>
							</div>
							<div class="input-field col s12">
								<input ng-model="formula" type="text" class="validate" id="form-formula" placeholder="Add formula" />
								<label for="formula">Formula</label>
							</div>
							<div class="input-field col s12">
								<input ng-model="pharmaceutical_company_id" type="text" class="validate" id="form-pharmaceutical_company_id" placeholder="Add pharmaceutical_company_id" />
								<label for="pharmaceutical_company_id">Pharmaceutical Co ID</label>
							</div>
							<div class="input-field col s12">
								<input ng-model="avg" type="text" class="validate" id="form-avg" placeholder="Add avg" />
								<label for="avg">AVG</label>
							</div>
						</div>
					</div>
				</div>

				<!-- floating button for creating average -->
				<div class="fixed-action-btn" style="bottom:45px; right:50px;">
					<a class="waves-effect waves-light btn modal-trigger btn-floating btn-large amber" href="#modal-average-form" ng-click="showCreateForm()"><i class="large material-icons">add</i></a>
				</div>

			</div>
			<!-- end col s12 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->

	<!-- include angular js -->
	<script src="assets/js/angular.min.js"></script>

	<!-- include angular pagination -->
	<script src="assets/js/dirPagination.js"></script>

	<!-- include jquery -->
	<script type="text/javascript" src="assets/js/jquery.min.js"></script>

	<!-- material design js -->
	<script src="assets/css/materialize/js/materialize.min.js"></script>

	<!-- custom js -->
	<script type="text/javascript" src="assets/js/custom.js"></script>

	<!-- app -->
	<script type="text/javascript" src="app/app.js"></script>

	<!-- average -->
	<script type="text/javascript" src="app/average/controller.js"></script>

</body>

</html>
