<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Pharmacies</title>

	<!-- include material design CSS -->
	<link rel="stylesheet" href="assets/css/materialize/css/materialize.min.css" />

	<!-- include material design icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<!-- include custom CSS -->
	<link rel="stylesheet" href="assets/css/custom.css" />

</head>

<body>
	<nav>
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
			<li><a href="queries/query-1.php">Query 1</a></li>
			<li><a href="queries/query-2.php">Query 2</a></li>
			<li><a href="queries/query-3.php">Query 3</a></li>
			<li><a href="queries/query-4.php">Query 4</a></li>
			<li><a href="queries/query-5.php">Query 5</a></li>
			<li><a href="queries/query-6.php">Query 6</a></li>
			<li><a href="queries/query-7.php">Query 7</a></li>
			<li><a href="queries/query-8.php">Query 8</a></li>
			<li><a href="queries/query-9.php">Query 9</a></li>
			<li><a href="queries/query-10.php">Query 10</a></li>
		</ul>
		<div class="nav-wrapper amber">
			<a href="index.html" class="brand-logo" style="margin-left: 50px;">Manhattan</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<!-- Dropdown Trigger -->
				<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Queries<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a href="doctor.html">Doctors</a></li>
				<li><a href="drug.html">Drugs</a></li>
				<li><a href="pharmaceutical_company.html">Companies</a></li>
				<li><a href="patient.html">Patients</a></li>
				<li><a href="experienced.html">Experienced</a></li>
				<li><a href="average.html">Average</a></li>
				<li><a href="index.html">Home</a></li>
				<li><a href="https://github.com/manhattanhq/manhattan">Github</a></li>
			</ul>
		</div>
	</nav>
	<!-- page content and controls will be here -->
	<div class="container" ng-app="myApp" ng-controller="productsCtrl">
		<div class="row">
			<div class="col s12">
				<h4>Pharmacies</h4>

				<!-- used for searching the current list -->
				<input type="text" ng-model="search" class="form-control" placeholder="Search pharmacys">

				<!-- table that shows pharmacy record list -->
				<table class="bordered">
					<thead>
						<tr class="amber">
							<th class="text-align-center">Pharmacy ID</th>
							<th class="text-align-center">Name</th>
							<th class="text-align-center">Town</th>
							<th class="text-align-center">Street</th>
							<th class="text-align-center">Number</th>
							<th class="text-align-center">Postal Code</th>
							<th class="text-align-center">Phone Number</th>
							<th class="text-align-center">Action</th>
						</tr>
					</thead>
					<tbody ng-init="getAll()">
						<tr class="hoverable" dir-paginate="d in names | filter:search | orderBy:sortKey:reverse | itemsPerPage:10" pagination-id="prodx">
							<td class="text-align-center">{{ d.pharmacy_id }}</td>
							<td class="text-align-center">{{ d.name }}</td>
							<td class="text-align-center">{{ d.town }}</td>
							<td class="text-align-center">{{ d.street_name }}</td>
							<td class="text-align-center">{{ d.number }}</td>
							<td class="text-align-center">{{ d.postalcode }}</td>
							<td class="text-align-center">{{ d.phone_number }}</td>
							<td class="text-align-center">
								<a ng-click="readOne(d.pharmacy_id)" class="waves-effect waves-light btn-floating amber"><i class="material-icons">edit</i></a>
								<a ng-click="deleteProduct(d.pharmacy_id)" class="waves-effect waves-light btn-floating amber"><i class="material-icons">delete</i></a>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- angular pagination -->
				<dir-pagination-controls pagination-id="prodx" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dir_pagination.tpl.html"></dir-pagination-controls>

				<!-- modal for for creating new pharmacy -->
				<div id="modal-pharmacy-form" class="modal">
					<div class="modal-content">
						<h4 id="modal-pharmacy-title">Pharmacy</h4>
						<div class="row">
							<div class="input-field col s12">
								<input ng-model="name" type="text" class="validate" id="form-name" placeholder="Add name" />
								<label for="name">Name</label>
							</div>
							<div class="input-field col s12">
								<input ng-model="town" type="text" class="validate" id="form-town" placeholder="Add town" />
								<label for="town">Town</label>
							</div>
							<div class="input-field col s12">
								<input ng-model="street_name" type="text" class="validate" id="form-street_name" placeholder="Add street name" />
								<label for="street_name">Street name</label>
							</div>
							<div class="input-field col s12">
								<input ng-model="number" type="text" class="validate" id="form-number" placeholder="Add street number" />
								<label for="number">Street number</label>
							</div>
							<div class="input-field col s12">
								<input ng-model="postalcode" type="text" class="validate" id="form-postalcode" placeholder="Add postal code" />
								<label for="postalcode">Postal code</label>
							</div>
							<div class="input-field col s12">
								<input ng-model="phone_number" type="text" class="validate" id="form-doctor" placeholder="Add doctor id" />
								<label for="phone_number">Phone Number</label>
							</div>
							<div class="input-field col s12">
								<a id="btn-create-pharmacy" class="waves-effect waves-light btn amber" ng-click="createProduct()"><i class="material-icons left">add</i>Create</a>

								<a id="btn-update-pharmacy" class="waves-effect waves-light btn amber" ng-click="updateProduct()"><i class="material-icons left">edit</i>Save Changes</a>

								<a class="modal-action modal-close waves-effect waves-light btn amber"><i class="material-icons left">close</i>Close</a>
							</div>
						</div>
					</div>
				</div>

				<!-- floating button for creating pharmacy -->
				<div class="fixed-action-btn" style="bottom:45px; right:50px;">
					<a class="waves-effect waves-light btn modal-trigger btn-floating btn-large amber" href="#modal-pharmacy-form" ng-click="showCreateForm()"><i class="large material-icons">add</i></a>
				</div>

			</div>
			<!-- end col s12 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->

	<!-- include angular js -->
	<script src="assets/js/angular.min.js"></script>

	<!-- include angular pagination -->
	<script src="assets/js/dirPagination.js"></script>

	<!-- include jquery -->
	<script type="text/javascript" src="assets/js/jquery.min.js"></script>

	<!-- material design js -->
	<script src="assets/css/materialize/js/materialize.min.js"></script>

	<!-- custom js -->
	<script type="text/javascript" src="assets/js/custom.js"></script>

	<!-- app -->
	<script type="text/javascript" src="app/app.js"></script>

	<!-- pharmacy -->
	<script type="text/javascript" src="app/pharmacy/controller.js"></script>

</body>

</html>
